<div class="container">
  <h2 class="text-center mt-4">Détails de la Demande de Dépannage</h2>

  <div class="mechanic-info mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Informations sur la Demande</h5>

        <!-- Displaying the demande details -->
        <p><strong>Nom de l'Automobiliste :</strong>{{ demandes[0]?.automobiliste?.prenom?.toUpperCase() }} {{ demandes[0]?.automobiliste?.nom?.toUpperCase() }}</p>
        <p><strong>Panne :</strong> {{ demandes[0]?.panne?.nom || 'Inconnu' }}</p>
        <p><strong>Description :</strong> {{ demandes[0]?.description || 'Inconnu' }}</p>
        <p><strong>Numéro de Telephone :</strong> {{ demandes[0]?.automobiliste?.numTelephone || 'Inconnu' }}</p>
        <button class="btn btn-outline-success" >Demande Términer</button>

      </div>
    </div>
  </div>

  <div id="map" class="map-container mt-4" style="height: 400px;"></div>
</div>
