<div class="elementor-element elementor-element-7f42a250 e-con-full e-flex e-con e-parent" data-id="7f42a250" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="elementor-element elementor-element-27199c6f e-con-full e-flex e-con e-child" data-id="27199c6f" data-element_type="container">
    <div class="elementor-element elementor-element-1aa3c2f1 elementor-widget elementor-widget-heading" data-id="1aa3c2f1" data-element_type="widget" data-widget_type="heading.default">
      <div class="elementor-widget-container">
        <h6 class="elementor-heading-title elementor-size-default">- Service de dépannage automobile</h6>		</div>
    </div>
    <div class="elementor-element elementor-element-25238940 elementor-widget elementor-widget-heading" data-id="25238940" data-element_type="widget" data-widget_type="heading.default">
      <div class="elementor-widget-container">
        <h1 class="elementor-heading-title elementor-size-default">Obtenez une assistance rapide où que vous soyez.</h1>		</div>
    </div>
    <div class="elementor-element elementor-element-6cec9e7f elementor-widget elementor-widget-text-editor" data-id="6cec9e7f" data-element_type="widget" data-widget_type="text-editor.default">
      <div class="elementor-widget-container">
        <p>SOSAuto est une plateforme innovante qui met en relation les automobilistes en panne avec des mécaniciens qualifiés à proximité.</p>
      </div>
    </div>
    <div class="elementor-element elementor-element-42c7e2b2 e-flex e-con-boxed e-con e-child" data-id="42c7e2b2" data-element_type="container">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-3126fbe e-flex e-con-boxed e-con e-child" data-id="3126fbe" data-element_type="container">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-d0f0bdd elementor-tablet-align-right elementor-mobile-align-left elementor-widget__width-initial elementor-widget elementor-widget-button" data-id="d0f0bdd" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper">
                  <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-shrink" href="#">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">En savoir plus</span>
					</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-1f523d97 elementor-mobile-align-right elementor-widget-tablet__width-initial elementor-widget elementor-widget-button" data-id="1f523d97" data-element_type="widget" data-widget_type="button.default">
              <div class="elementor-widget-container">
                <div class="elementor-button-wrapper">
                  <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-shrink" href="#">
						<span class="elementor-button-content-wrapper">
									<span class="elementor-button-text">Nos Services</span>
					</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-685c5ce9 elementor-widget elementor-widget-spacer" data-id="685c5ce9" data-element_type="widget" data-widget_type="spacer.default">
      <div class="elementor-widget-container">
        <div class="elementor-spacer">
          <div class="elementor-spacer-inner"></div>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-61fc76d5 e-con-full e-flex e-con e-child" data-id="61fc76d5" data-element_type="container">
      <div class="elementor-element elementor-element-77ff4e elementor-widget-mobile__width-initial elementor-position-top elementor-widget elementor-widget-image-box" data-id="77ff4e" data-element_type="widget" data-widget_type="image-box.default">
        <div class="elementor-widget-container">
          <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img fetchpriority="high" decoding="async" width="300" height="300" src="../wp-content/uploads/sites/88/2023/09/Tyre.png" class="elementor-animation-shrink attachment-full size-full wp-image-98" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Tyre.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Tyre-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Pneus</h5></div></div>		</div>
      </div>
      <div class="elementor-element elementor-element-765affcb elementor-widget-mobile__width-initial elementor-position-top elementor-widget elementor-widget-image-box" data-id="765affcb" data-element_type="widget" data-widget_type="image-box.default">
        <div class="elementor-widget-container">
          <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="300" height="300" src="../wp-content/uploads/sites/88/2023/09/Engine.png" class="elementor-animation-shrink attachment-full size-full wp-image-99" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Engine.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Engine-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Moteur</h5></div></div>		</div>
      </div>
      <div class="elementor-element elementor-element-3e7ff9e2 elementor-widget-mobile__width-initial elementor-position-top elementor-widget elementor-widget-image-box" data-id="3e7ff9e2" data-element_type="widget" data-widget_type="image-box.default">
        <div class="elementor-widget-container">
          <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300" height="300" src="../wp-content/uploads/sites/88/2023/09/Batteryy.png" class="elementor-animation-shrink attachment-full size-full wp-image-101" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Batteryy.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Batteryy-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Batterie</h5></div></div>		</div>
      </div>
      <div class="elementor-element elementor-element-77d25d7c elementor-widget-mobile__width-initial elementor-position-top elementor-widget elementor-widget-image-box" data-id="77d25d7c" data-element_type="widget" data-widget_type="image-box.default">
        <div class="elementor-widget-container">
          <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300" height="300" src="../wp-content/uploads/sites/88/2023/09/Oil.png" class="elementor-animation-shrink attachment-full size-full wp-image-102" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Oil.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Oil-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Huile</h5></div></div>		</div>
      </div>
      <div class="elementor-element elementor-element-1a3bbf2 elementor-widget-mobile__width-initial elementor-position-top elementor-widget elementor-widget-image-box" data-id="1a3bbf2" data-element_type="widget" data-widget_type="image-box.default">
        <div class="elementor-widget-container">
          <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300" height="300" src="../wp-content/uploads/sites/88/2023/09/Brake.png" class="elementor-animation-shrink attachment-full size-full wp-image-103" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Brake.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Brake-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Freins</h5></div></div>		</div>
      </div>
      <div class="elementor-element elementor-element-9343514 elementor-widget-mobile__width-initial elementor-position-top elementor-widget elementor-widget-image-box" data-id="9343514" data-element_type="widget" data-widget_type="image-box.default">
        <div class="elementor-widget-container">
          <div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="300" height="300" src="../wp-content/uploads/sites/88/2023/09/Spark-Plug.png" class="elementor-animation-shrink attachment-full size-full wp-image-104" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Spark-Plug.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Spark-Plug-150x150.png 150w" sizes="(max-width: 300px) 100vw, 300px" /></figure><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Suspension</h5></div></div>		</div>
      </div>
    </div>
  </div>
  <div class="elementor-element elementor-element-4c55829f e-con-full e-flex e-con e-child" data-id="4c55829f" data-element_type="container">
    <div class="elementor-element elementor-element-74ed310e elementor-widget elementor-widget-image" data-id="74ed310e" data-element_type="widget" data-widget_type="image.default">
      <div class="elementor-widget-container">
        <img loading="lazy" decoding="async" width="800" height="800" src="/assets/wp-content/uploads/sites/88/2023/09/Z2MJV8Qj.png" class="attachment-full size-full wp-image-155" alt="" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Z2MJV8Qj.png 800w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Z2MJV8Qj-300x300.png 300w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Z2MJV8Qj-150x150.png 150w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Z2MJV8Qj-768x768.png 768w" sizes="(max-width: 800px) 100vw, 800px" />													</div>
    </div>
  </div>
</div>
