
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="description">Description :</label>
    <textarea id="description" name="description" [(ngModel)]="description" class="form-control" required></textarea>
  </div>

  <div class="form-group">
    <label for="panneid">Le panne :</label>
    <select id="panneid" name="panneid" [(ngModel)]="panne.panneid" class="form-control" required>
      <option *ngFor="let panne of pannes" [value]="panne.panneid" [title]="panne.description">{{ panne.nom }}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Envoyer la demande</button>
</form>
