
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="description">Description :</label>
    <textarea id="description" name="description" [(ngModel)]="description" class="form-control" required></textarea>
  </div>

  <div class="form-group">
    <label for="personneid">ID de l'automobiliste :</label>
    <input type="number" id="personneid" name="personneid" [(ngModel)]="automobiliste.personneid" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="panneid">ID de la panne :</label>
    <input type="number" id="panneid" name="panneid" [(ngModel)]="panne.panneid" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Envoyer la demande</button>
</form>
