<body>
<div class="page-container">
  <app-navbar-meca></app-navbar-meca>

<!--  <div class="page-sidebar">-->
<!--    <app-sidebar></app-sidebar>-->
<!--  </div>-->

  <div class="page-content">
    <div class="main-wrapper">


      <div class="row">
        <div class="col-sm-12 col-md-3 ">
          <div class="card stat-widget">
            <div class="d-flex justify-content-center m-3">
              <h5>Suggestions</h5>
            </div>
              <app-sidebar class="overflow-auto"></app-sidebar>
          </div>
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="card stat-widget">
            <div class="card-body">
               <app-map></app-map>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
