<div class="logo">
  <a routerLink="/profile">
    <img class="navbar-brand" src="assets/images/logo.png" alt="Logo">
  </a>
</div>
<div class="page-header">
  <nav class="navbar navbar-expand-lg d-flex justify-content-between">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon">
        <i class="iconsax icon" data-icon="text-align-left"></i>
      </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" id="leftNav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/automobiliste">
            <mat-icon>home</mat-icon> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="historique">
            <mat-icon>history</mat-icon> Historique
          </a>
        </li>
      </ul>
    </div>

    <div class="" id="headerNav">
      <ul class="navbar-nav">
        <li>
          <button mat-button class="btn btn-danger text-danger" (click)="logout()">
            <mat-icon>logout</mat-icon> Déconnexion
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
