<div class="elementor-element elementor-element-33c74a1 e-flex e-con-boxed e-con e-parent" data-id="33c74a1" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="e-con-inner">
    <div class="elementor-element elementor-element-bb4a711 e-flex e-con-boxed e-con e-child" data-id="bb4a711" data-element_type="container">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-f8bb74c e-con-full e-flex e-con e-child" data-id="f8bb74c" data-element_type="container">
          <div class="elementor-element elementor-element-139f7a7 elementor-widget elementor-widget-image" data-id="139f7a7" data-element_type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <img width="150" height="86" src="/assets/images/logo.png" class="attachment-full size-full wp-image-638" alt="Logo SOSAuto" />
            </div>
          </div>
          <div class="elementor-element elementor-element-9a76fca elementor-widget elementor-widget-text-editor" data-id="9a76fca" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
              <p>SOSAuto : Votre solution de dépannage automobile rapide et fiable, disponible 24h/24 et 7j/7.</p>
            </div>
          </div>
          <div class="elementor-element elementor-element-93c09e2 elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="93c09e2" data-element_type="widget" data-widget_type="social-icons.default">
            <div class="elementor-widget-container">
              <div class="elementor-social-icons-wrapper elementor-grid">
                <span class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-shrink elementor-repeater-item-ef49475" target="_blank">
                    <span class="elementor-screen-only">Facebook</span>
                    <i class="fab fa-facebook"></i>
                  </a>
                </span>
                <span class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-shrink elementor-repeater-item-81dbc9f" target="_blank">
                    <span class="elementor-screen-only">Twitter</span>
                    <i class="fab fa-twitter"></i>
                  </a>
                </span>
                <span class="elementor-grid-item">
                  <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-shrink elementor-repeater-item-44243c5" target="_blank">
                    <span class="elementor-screen-only">Instagram</span>
                    <i class="fab fa-instagram"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-9671e9a e-con-full e-flex e-con e-child" data-id="9671e9a" data-element_type="container">
          <div class="elementor-element elementor-element-3df4de9 elementor-widget elementor-widget-heading" data-id="3df4de9" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h4 class="elementor-heading-title elementor-size-default">Contact</h4>
            </div>
          </div>
          <div class="elementor-element elementor-element-4039523 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4039523" data-element_type="widget" data-widget_type="icon-list.default">
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-map-marker-alt"></i>
                  </span>
                  <span class="elementor-icon-list-text">123 Rue de l'Innovation, 5001 béni mellal</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                  </span>
                  <span class="elementor-icon-list-text">+212 62 08 60 47</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-envelope"></i>
                  </span>
                  <span class="elementor-icon-list-text">contact@sosauto.ma</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-bbb012f e-flex e-con-boxed e-con e-child" data-id="bbb012f" data-element_type="container">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-9aa1962 e-con-full e-flex e-con e-child" data-id="9aa1962" data-element_type="container">
          <div class="elementor-element elementor-element-89b077c elementor-widget elementor-widget-heading" data-id="89b077c" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h4 class="elementor-heading-title elementor-size-default">Liens Rapides</h4>
            </div>
          </div>
          <div class="elementor-element elementor-element-76d4991 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="76d4991" data-element_type="widget" data-widget_type="icon-list.default">
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                  <a href="#">
                    <span class="elementor-icon-list-text">À Propos</span>
                  </a>
                </li>
                <li class="elementor-icon-list-item">
                  <a href="#">
                    <span class="elementor-icon-list-text">Nos Services</span>
                  </a>
                </li>
                <li class="elementor-icon-list-item">
                  <a href="#">
                    <span class="elementor-icon-list-text">Tarifs</span>
                  </a>
                </li>
                <li class="elementor-icon-list-item">
                  <a href="#">
                    <span class="elementor-icon-list-text">FAQ</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
