<div class="order-container">
  <h3 class="order-title">Utilisateurs</h3>
  <table class="order-table">
    <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Statut</th>
      <th>E-mail</th>
      <th>Téléphone</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of displayedAutomobilistes">
      <td class="user-info" >
        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g" alt="User Avatar" class="user-avatar">
        <span class="user-name">{{ user.nom }} {{ user.prenom }}</span>
      </td>
      <td><span class="status completed">Completed</span></td>
      <td>{{ user.email }}</td>
      <td>{{ user.numTelephone }}</td>
      <td>
        <i class='btn text-danger bx bxs-trash' (click)="openDialog(user.personneid)"></i>

      </td>
    </tr>
    <table class="order-table">
    </table>


    </tbody>
  </table>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 7 , 10, 20]"
                 (page)="onPageChange($event)"
                 [showFirstLastButtons]="true">
  </mat-paginator>


  <ng-template #confirmDeleteTemplate>
    <div class="confirm-delete-dialog">
      <h2 mat-dialog-title>Confirmer la suppression</h2>
      <mat-dialog-content>Êtes-vous sûr de vouloir supprimer cet utilisateur?</mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button (click)="dialogRef.close(false)">Annuler</button>
        <button mat-button class="btn btn-danger" (click)="dialogRef.close(true)">Supprimer</button>
      </mat-dialog-actions>
    </div>
  </ng-template>
</div>
