<div class="elementor-element elementor-element-78f05fa e-flex e-con-boxed e-con e-parent" data-id="78f05fa" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="e-con-inner">
    <div class="elementor-element elementor-element-48dac85 e-con-full e-flex e-con e-child" data-id="48dac85" data-element_type="container">
      <div class="elementor-element elementor-element-08f7dbb elementor-widget elementor-widget-image" data-id="08f7dbb" data-element_type="widget" data-widget_type="image.default">
        <div class="elementor-widget-container">
          <img width="150" height="86" src="/assets/images/logo.png" class="attachment-full size-full wp-image-585" alt="" />													</div>
      </div>
    </div>
    <div class="elementor-element elementor-element-19a7ec2 e-con-full e-flex e-con e-child" data-id="19a7ec2" data-element_type="container">
      <div class="elementor-element elementor-element-7af8819 e-con-full e-flex e-con e-child" data-id="7af8819" data-element_type="container">
        <div class="elementor-element elementor-element-97f21eb elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="97f21eb" data-element_type="widget" data-settings="{&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;i class=\&quot;fas fa-plus\&quot;&gt;&lt;\/i&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
          <div class="elementor-widget-container">
            <nav class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
              <ul id="menu-1-97f21eb" class="elementor-nav-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-549"><a href="index.html" aria-current="page" class="elementor-item elementor-item-active">Home</a></li>


              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-1e2220b e-con-full e-flex e-con e-child" data-id="1e2220b" data-element_type="container">
        <div class="elementor-element elementor-element-5d2a6d3 elementor-widget elementor-widget-button" data-id="5d2a6d3" data-element_type="widget" data-widget_type="button.default">
          <div class="elementor-widget-container">
             <button class="btn" routerLink="/login">Sign in</button>
            <div class="elementor-button-wrapper">
              <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-shrink">
						<span class="elementor-button-content-wrapper">
              <span class="elementor-button-text" routerLink="/register">Sign up</span>
            </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
