<div class="elementor-element elementor-element-62c07d3a e-flex e-con-boxed e-con e-parent" data-id="62c07d3a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
  <div class="e-con-inner">
    <div class="elementor-element elementor-element-2888b40d e-con-full e-flex e-con e-child" data-id="2888b40d" data-element_type="container">
      <div class="elementor-element elementor-element-5e1fa6bd e-con-full e-flex e-con e-child" data-id="5e1fa6bd" data-element_type="container">
        <div class="elementor-element elementor-element-754679d3 e-con-full e-flex e-con e-child" data-id="754679d3" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-41174b08 elementor-widget elementor-widget-heading" data-id="41174b08" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">01.</h2>		</div>
          </div>
        </div>
        <div class="elementor-element elementor-element-70037ae e-con-full e-flex e-con e-child" data-id="70037ae" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-74cefc0e elementor-widget elementor-widget-image-box" data-id="74cefc0e" data-element_type="widget" data-widget_type="image-box.default">
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Signalement de panne</h5><p class="elementor-image-box-description">Signalez facilement votre panne via l'application mobile SOSAuto.</p></div></div>		</div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-4733bcaf elementor-widget elementor-widget-spacer" data-id="4733bcaf" data-element_type="widget" data-widget_type="spacer.default">
        <div class="elementor-widget-container">
          <div class="elementor-spacer">
            <div class="elementor-spacer-inner"></div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-3ed6e0b1 e-con-full e-flex e-con e-child" data-id="3ed6e0b1" data-element_type="container">
        <div class="elementor-element elementor-element-a592014 e-con-full e-flex e-con e-child" data-id="a592014" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-1fcd2496 elementor-widget elementor-widget-heading" data-id="1fcd2496" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">02.</h2>		</div>
          </div>
        </div>
        <div class="elementor-element elementor-element-1b7ffc8f e-con-full e-flex e-con e-child" data-id="1b7ffc8f" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-4595a620 elementor-widget elementor-widget-image-box" data-id="4595a620" data-element_type="widget" data-widget_type="image-box.default">
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Localisation des mécaniciens</h5><p class="elementor-image-box-description">Visualisez les mécaniciens disponibles à proximité sur une carte interactive.</p></div></div>		</div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-440fa393 elementor-widget elementor-widget-spacer" data-id="440fa393" data-element_type="widget" data-widget_type="spacer.default">
        <div class="elementor-widget-container">
          <div class="elementor-spacer">
            <div class="elementor-spacer-inner"></div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-4898d422 e-con-full e-flex e-con e-child" data-id="4898d422" data-element_type="container">
        <div class="elementor-element elementor-element-7b7e151 e-con-full e-flex e-con e-child" data-id="7b7e151" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-641c388 elementor-widget elementor-widget-heading" data-id="641c388" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">03.</h2>		</div>
          </div>
        </div>
        <div class="elementor-element elementor-element-42ddddf e-con-full e-flex e-con e-child" data-id="42ddddf" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-641cf0b7 elementor-widget elementor-widget-image-box" data-id="641cf0b7" data-element_type="widget" data-widget_type="image-box.default">
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Choix du mécanicien</h5><p class="elementor-image-box-description">Sélectionnez le mécanicien de votre choix en fonction des évaluations et des profils.</p></div></div>		</div>
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-ab3bdb e-con-full e-flex e-con e-child" data-id="ab3bdb" data-element_type="container">
      <div class="elementor-element elementor-element-782852d e-transform elementor-widget elementor-widget-image" data-id="782852d" data-element_type="widget" data-settings="{&quot;_transform_rotateZ_effect_hover&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:-360,&quot;sizes&quot;:[]},&quot;_transform_rotateZ_effect_hover_tablet&quot;:{&quot;unit&quot;:&quot;deg&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;_transform_rotateZ_effect_hover_mobile&quot;:{&quot;unit&quot;:&quot;deg&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" data-widget_type="image.default">
        <div class="elementor-widget-container">
          <img loading="lazy" decoding="async" width="500" height="800" src="/assets/wp-content/uploads/sites/88/2023/09/Z2MJV8Ql.png" class="attachment-full size-full wp-image-171" alt="Interface SOSAuto" srcset="https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Z2MJV8Ql.png 500w, https://dkkit.rometheme.pro/ditail/wp-content/uploads/sites/88/2023/09/Z2MJV8Ql-188x300.png 188w" sizes="(max-width: 500px) 100vw, 500px" />													</div>
      </div>
    </div>
    <div class="elementor-element elementor-element-388ea379 e-con-full e-flex e-con e-child" data-id="388ea379" data-element_type="container">
      <div class="elementor-element elementor-element-3b599ea e-con-full e-flex e-con e-child" data-id="3b599ea" data-element_type="container">
        <div class="elementor-element elementor-element-7a147176 e-con-full e-flex e-con e-child" data-id="7a147176" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-74924b8a elementor-widget elementor-widget-heading" data-id="74924b8a" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">04.</h2>		</div>
          </div>
        </div>
        <div class="elementor-element elementor-element-4cd8920e e-con-full e-flex e-con e-child" data-id="4cd8920e" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-4bf00109 elementor-widget elementor-widget-image-box" data-id="4bf00109" data-element_type="widget" data-widget_type="image-box.default">
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Intervention rapide</h5><p class="elementor-image-box-description">Le mécanicien choisi intervient rapidement sur votre lieu de panne.</p></div></div>		</div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-3b826d2f elementor-widget elementor-widget-spacer" data-id="3b826d2f" data-element_type="widget" data-widget_type="spacer.default">
        <div class="elementor-widget-container">
          <div class="elementor-spacer">
            <div class="elementor-spacer-inner"></div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-57a1687c e-con-full e-flex e-con e-child" data-id="57a1687c" data-element_type="container">
        <div class="elementor-element elementor-element-22ba2811 e-con-full e-flex e-con e-child" data-id="22ba2811" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-baa1567 elementor-widget elementor-widget-heading" data-id="baa1567" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">05.</h2>		</div>
          </div>
        </div>
        <div class="elementor-element elementor-element-424ae49c e-con-full e-flex e-con e-child" data-id="424ae49c" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-21633cf8 elementor-widget elementor-widget-image-box" data-id="21633cf8" data-element_type="widget" data-widget_type="image-box.default">
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper"><div class="elementor-image-box-content"><h5 class="elementor-image-box-title">Évaluation du service</h5><p class="elementor-image-box-description">Notez et commentez le service reçu pour maintenir la qualité de notre réseau.</p></div></div>		</div>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-484f78e0 elementor-widget elementor-widget-spacer" data-id="484f78e0" data-element_type="widget" data-widget_type="spacer.default">
        <div class="elementor-widget-container">
          <div class="elementor-spacer">
            <div class="elementor-spacer-inner"></div>
          </div>
        </div>
      </div>

      <div class="elementor-element elementor-element-2efc8a44 e-con-full e-flex e-con e-child" data-id="2efc8a44" data-element_type="container">
        <div class="elementor-element elementor-element-650df632 e-con-full e-flex e-con e-child" data-id="650df632" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-2dc4a3bc elementor-widget elementor-widget-heading" data-id="2dc4a3bc" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">06.</h2>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-677e7eef e-con-full e-flex e-con e-child" data-id="677e7eef" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="elementor-element elementor-element-21d12ed0 elementor-widget elementor-widget-image-box" data-id="21d12ed0" data-element_type="widget" data-widget_type="image-box.default">
            <div class="elementor-widget-container">
              <div class="elementor-image-box-wrapper">
                <div class="elementor-image-box-content">
                  <h5 class="elementor-image-box-title">Assistance 24/7</h5>
                  <p class="elementor-image-box-description">Notre service est disponible à toute heure, tous les jours de l'année, pour vous assister en cas de besoin.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
