<div class="d-flex flex-column gap-2 p-3">
  <ng-container *ngIf="mecaniciens.length === 0">
    <div class="alert alert-light opacity-75" role="alert">
      Aucun mécanicien disponible pour le moment.
    </div>
  </ng-container>
    <ng-container *ngFor="let mecanicien of mecaniciens">
        <div class="d-flex justify-content-between align-items-center bg-white rounded shadow-sm p-3">
          <div class="d-flex flex-column">
            <span class="text-dark fw-bold fs-5">{{ mecanicien.nom?.toUpperCase() }} {{ mecanicien.prenom?.toUpperCase() }}</span>
            <span class="text-danger small">Mécanicien</span>
          </div>
          <span class="text-secondary small">{{ mecanicien.disponible }}</span>
        </div>
    </ng-container>
</div>
