.card{
  height: calc(100% - 10px);
}
.row{
  height: calc(100% - 150px);
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}

app-disponibilite{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}
