.logo{
  z-index: 3;
}
.logo img{
  height: 80px;
}

@media (max-width: 992px) {
  #headerNav {
    margin-top: 0rem;
  }
  .navbar-nav .nav-item {
    margin-left: 10px;
  }
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 993px) {
  .navbar-nav {
    flex-direction: row;
  }

  #headerNav {
    margin-top: 0;
  }
}
