<div class="logo">
  <img class="navbar-brand" src="assets/images/logo.png">
</div>
<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card" fxFlex="400px" fxFlex.lt-md="100%">
    <h2>Créer un compte</h2>
    <mat-radio-group [(ngModel)]="selectedComponent">
      <mat-radio-button value="automobiliste">Automobiliste</mat-radio-button>
      <mat-radio-button value="mecanicien">Mecanicien</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="selectedComponent === 'automobiliste'">
      <app-automobiliste></app-automobiliste>
    </div>

    <div *ngIf="selectedComponent === 'mecanicien'">
      <app-mecanicien></app-mecanicien>
    </div>

  </mat-card>
</div>
