<div class="container">
  <div class="white-box">
  <h2>Liste des participations</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Description</th>
      <th>Panne</th>
      <th>Statut</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let participation of participations">
      <td>{{ participation.demande?.description }}</td>
      <td>{{ participation.demande?.panne?.nom}}</td>
      <td>{{ participation.status }}</td>
      <ng-container *ngIf="participation.status === 'EN_ATTENTE'">
        <button class="btn btn-danger" (click)="cancelRequest(participation.id)">Annuler</button>
      </ng-container>
    </tr>
    </tbody>
  </table>

  <div *ngIf="participations.length === 0">
    Aucune participation trouvée.
  </div>
</div>
</div>
